@font-face {
    font-family: 'Valorant'; /*a name to be used later*/
    src: url('../media/font/Valorant.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'QSand';
    src: url('../media/font/QSand.ttf');
}

@font-face {
    font-family: 'DScript';
    src: url('../media/font/DScript.ttf');
}