@mixin borderdetails($border-width: 1px, $border-color: black) {
    border: $border-width solid $border-color;
}

@mixin table($border-color: rgb(255, 255, 255), $collapse: collapse) {
    border-color: $border-color;
    border-collapse: $collapse;
    margin: auto;
}

@mixin displayFlex($flex-flow: row nowrap, $justify-content: space-evenly, $align-content: center) {
    display: flex;
    flex-flow: $flex-flow;
    justify-content: $justify-content;
    align-content: $align-content;
}

@mixin grid($column, $margin) {
    display: grid;
    grid-gap: $margin;
    margin-right: $margin;
    margin-bottom: $margin;

}